@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  @apply bg-gray-800 text-gray-50 flex flex-col  items-center text-lg;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#app{
  @apply max-w-2xl;
}